<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}网站首页{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">首页</a></li>
                <li><a href="{{ url_for('groups_list') }}">社群</a> </li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile') }}">个人信息</a></li>
                    <li><a href="{{ url_for('logout') }}">退出登录</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">登录</a></li>
                    <li><a href="{{ url_for('register') }}">注册</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>版权所有 &copy; 2024 Campus Partner</p>
    </footer>
</body>
</html>